@charset "UTF-8"; /*Tipo*/
body {
    font-family: 'Open Sans', sans-serif;
    color: #4d4d4d;
}

/*General*/
#encabezado {
    background: white;
    text-align: center;
}

img {
    max-width: 100%;
}

/*Banner*/
#banner {
    background: #004a28 url('../img/fondo-banner-previsora.jpg') no-repeat center 30%;
    background-size: cover;
    padding: 15vh 0 10vh;
}

#banner .row {
    align-items: flex-end;
}

#banner .row .trans {
    display: none;
}

#banner .row .franja-verde {
    background: rgb(168,195,0);
    background: linear-gradient(90deg, rgba(168,195,0,1) 0%, rgba(28,166,55,1) 55%, rgb(0, 83, 36) 100%);
    color: white;
    padding: .2em .5em;
    font-weight: 800;
    letter-spacing: .05em;
    font-size: 1.4rem;
    line-height: 2.2;
}

/*Main*/
main .container {
    padding-top: 10vh;
}

h1 {
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
    color: black;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    color: #00b433;
}

/*Toggle*/
.card {
    border: none;
}

#accordion {
    margin-top: 1.5rem;
}

#accordion .card-header {
    border-radius: 0;
    border-bottom: 0;
    border-top: 1px solid #00b433;
    padding: 0;
    background: white;
}

#accordion h5 button {
    border-radius: 0;
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    padding: 0;
}

#accordion h5 button span {
    display: block;
    width: 100%;
    color: #4d4d4d;
    position: relative;
    padding: 15px 60px;
}

#accordion h5 button span:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    border: 1px solid #00b433;
    background-image: url('../img/iconos.svg');
    background-size: 600%;
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: background-color .5s linear;
}

#accordion h5 button span:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    border: 1px solid #00b433;
    transition: background-color .75s ease;
    background-image: url('../img/flecha.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
    transition: transform .3s linear;
}

#accordion button:hover span:before {
    background-color: #00b433;
}

#accordion h5 button:focus {
    outline: 0;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.card-body {
    padding: 10px 20px 30px 50px;
}

#accordion .card-body {
    background: rgba(0, 180, 51, 0.15);
}

#accordion button[aria-expanded="true"] {
    background: rgba(0, 180, 51, 0.15);
}

#accordion button[aria-expanded="true"] span:after {
    transform: translateY(-50%) rotate(180deg);
}

/*Posiciones*/
#accordion button[aria-expanded="true"] span:before {
    background-color: #00b433;
}

#accordion .card:nth-child(1) span:before {
    background-position: 0 0;
}

#accordion .card:nth-child(1) button:hover span:before, #accordion .card:nth-child(1) button[aria-expanded="true"] span:before {
    background-position: 0 100%;
}

#accordion .card:nth-child(2) span:before {
    background-position: 20% 0;
}

#accordion .card:nth-child(2) button:hover span:before, #accordion .card:nth-child(2) button[aria-expanded="true"] span:before {
    background-position: 20% 100%;
}

#accordion .card:nth-child(3) span:before {
    background-position: 40% 0;
}

#accordion .card:nth-child(3) button:hover span:before, #accordion .card:nth-child(3) button[aria-expanded="true"] span:before {
    background-position: 40% 100%;
}

#accordion .card:nth-child(4) span:before {
    background-position: 60% 0;
}

#accordion .card:nth-child(4) button:hover span:before, #accordion .card:nth-child(4) button[aria-expanded="true"] span:before {
    background-position: 60% 100%;
}

#accordion .card:nth-child(5) span:before {
    background-position: 80% 0;
}

#accordion .card:nth-child(5) button:hover span:before, #accordion .card:nth-child(5) button[aria-expanded="true"] span:before {
    background-position: 80% 100%;
}

#accordion .card:nth-child(6) span:before {
    background-position: 100% 0;
}

#accordion .card:nth-child(6) button:hover span:before, #accordion .card:nth-child(6) button[aria-expanded="true"] span:before {
    background-position: 100% 100%;
}

/*Cotizador*/
#col-2 {
    margin-top: -2vh;
    text-align: center;
}

#cont-formulario {
    background: white;
    padding: 30px 40px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 180, 51, 0.2);
    margin-bottom: 2rem;
}

#cont-formulario h3 {
    font-weight: 700;
    color: black;
    font-size: 1.75rem;
}

#cont-formulario .bloque {
    margin-top: 2rem;
    min-height: 300px;
}

h4 {
    color: #00b433;
    font-weight: 700;
    font-size: 1.2rem;
}

#cont-formulario .bloque h4 {
    margin-bottom: 1rem
}

#cont-formulario .col {
    padding: 10px 5px;
}

.form-control {
    border: none;
    border-bottom: 1px solid #00b433;
    border-radius: 0;
    padding: 0;
    font-size: .85rem;
    color: black;
}

.custom-select {
    border: none;
    border-bottom: 1px solid #00b433;
    border-radius: 0;
    padding: 0;
    font-size: .85rem;
}

#cont-formulario .btn {
    background: #00b433;
    margin-top: 2rem;
    color: white;
}

.custom-select:focus {
    border-color: #00b433;
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    color: black;
    background-color: #fff;
    border-color: #00b433;
    outline: 0;
    box-shadow: none;
}

/*Datos*/
.verde {
    color: #00b433;
}

.cont-contacto .btn {
    background: #00b433;
    color: white;
    margin-top: 1rem;
    width: 100%;
}

.cont-contacto .small {
    font-style: italic;
    font-size: .6em;
    margin-top: 8px;
}

.cont-datos p {
    margin-bottom: 0;
}

/*Footer*/
footer {
    background-color: #21252b;
    color: white;
    padding: 3rem 0;
    margin-top: 9vh;
}

footer h4 {
    text-align: center;
    color: white;
    margin-bottom: 3rem;
}

h5 {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.02em;
    margin-bottom: 1.5rem;
}

footer p, footer a {
    font-size: .8rem;
    transition: color .7s ease;
}

footer a:hover {
    color: #00b433;
}

footer a {
    color: white;
    text-decoration: underline;
    display: block;
    margin-bottom: 1rem;
}

footer p {
    position: relative;
}

footer p:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #00b433 no-repeat center;
    background-size: contain;
    left: -30px;
    border-radius: 100%;
    top: -5px;
}

footer .row > div:nth-child(1) p:before {
    background-image: url('../img/ico-ubi.svg');
}

footer .row > div:nth-child(2) p:before, footer .row > div:nth-child(4) p:before {
    background-image: url('../img/ico-tel.svg');
}

footer .row > div:nth-child(3) p:before {
    background-image: url('../img/ico-hora.svg');
}

/*Responsive*/
@media screen and (max-width: 1200px) {
    body {
        font-size: 14px;
    }

    #banner {
        padding: 8vh 0 6vh;
        background-position: center 25%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    #cont-formulario h3 {
        font-size: 1.5rem;
    }

    .cont-contacto .small {
        font-size: .8em;
    }

    footer .row > div {
        padding: 0 30px ;
    }
}

@media screen and (max-width: 992px) {
    #banner .row .franja-verde {
        font-size: 1.1rem;
    }

    /*Cotizador*/
    #col-2 {
        margin-top: 7vh;
    }
}

@media screen and (max-width: 768px) {
    #banner img {
        width: 45vw;
    }

    h1 {
        font-size: 1.9rem;
    }

    footer .container {
        padding: 0 25px;
    }
}

@media screen and (max-width: 576px) {
    #banner .row .franja-verde {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    #banner .row .franja-verde {
        font-size: .9rem;
    }

    #cont-formulario {
        padding: 30px 20px;
    }
    #cont-formulario .col-sm-6 {
        margin-bottom: 12px;
    }
}
